#config-guide>#options {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
}

#config-guide>#options>*, button {
    display: flex;
    align-items: center;
    background-color: #2f2f2f;
    color: white;
    border: 0;
    border-radius: 50px;
    border-collapse: separate;
    padding: 0 20px 0 20px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

#config-guide>#options>*:hover {
    transform: scale(1.2);
}

button>* {
    padding: 5px;
}


#error-dialog>button, #summary > button {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 5%;
    text-align: center;
    border-radius: 10px;
    outline: none;
}

#error-dialog>button:hover, #summary>button:hover {
    background-color: rgb(119, 119, 119);
}

@media screen and (prefers-color-scheme: light) {
    #config-guide>#options>*, button {
        background-color: #E5D4EF;
    }
}