#file-select>input[type=file] {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

#file-select>i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
}

#file-select>p {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    margin-top: 10px;
}

input, select {
    height: 30px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(0, 191, 255);
    background-color: transparent;
    padding-top: 0;
    outline: none;
}