body {
    overflow: hidden;
}

h2, label, p, a, button, ul, li {
    user-select: none;
}

#backdrop {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    z-index: 2;
}

#backdrop.active {
    display: flex;
}

#credit {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    padding: 0 20px 0 20px;
    text-align: center;
    z-index: 10;
}

#credit.active {
    color: white;
}

#config-guide {
    display: inline;
    position: relative;
    height: 100%;
    padding-right: 5px;
    border-right: 2px solid black;
}

#config-guide>#preview {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

#config-guide>#preview>p {text-align:center;}

/* For containing the guide and settings */
#config-wrapper {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-gap: 30px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    height: 80%;
    z-index: 3;
}

#advance-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

#advance-btn:hover {
    background-color: rgb(180, 180, 180);
}

#advance-btn>h2 {
    display: inline-block;
}

#config {
    overflow-y: auto;
    scrollbar-width: none;
}
/* scrollbar setting for webkit */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;
}

#error-dialog {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    z-index: 20;
}

#progress {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    z-index: 15;
}

#progress>#progress-status {
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress>#progress-log {
    font-family: monospace;
    font-size: 12px;
    width: 45%;
    height: 50%;
    background-color: black;
    color: white;
    border: 1px solid white;
    overflow-y: auto;
}

#progress>i {
    margin: 20px;
}

#progress>#summary {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* dark mode using media query*/
@media screen and (prefers-color-scheme: dark) {
    body, #config-wrapper {
        background-color: rgb(0, 0, 0) !important;
    }

    p, h2, label, a, i, button, input, select {
        color: white !important;
    }
    
    #config-guide {
        border-right: 2px solid white;
    }
    ::-webkit-scrollbar-thumb {
        background: white; 
    }
}

