

#box1 {
    border-radius: 50px;
    background: #00fadd;
    /* Let box1's position on the left */
    position: absolute;
    left: 3em;
    top: 2em ;
    margin: 2.2em auto;
    padding: 2em;
    width: 30em;
    text-align: left;

}

#box2 {
    border-radius: 50px;
    background: #00fadd;
    position: absolute;
    right: 3em;
    top: 2em;
    margin: 2.2em auto;
    padding: 2em;
    width: 30em;
    text-align: right;
}

#submit {   
    position: absolute;
    margin: auto auto;
    padding-left: 55.3em;
    padding-top: 20em;
    text-align: center;
}

/* Bigger text */
input.button {
    font-size: 1.1em;
}

#logo {
    /* Make it smaller */
    width: 73.1px;
    height: 54.05px;
}

/* Put discord logo at the top right corner */
#logo {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

/* Put everything in the middle */
.center {
    margin: 5.5em auto;
    width: 800px;
    text-align: center;
}

input[type=number], input[type=text] {
    background-color: #00fadd;
    border-color: #00fadd;
}

#bitrate, #preset, #profile, input[type=number] {
    width: 5em;
    margin: 0 auto;
}